.menu-box{
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: table;
    background-color: #d32f2f;
    text-align: center;
}

img{
    width: auto;
    height: 175px;
}

.menu-description{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    max-width: 225px;
    position: relative;
    text-align: center;
}

h2{
    float: right;
    vertical-align: bottom;
    margin-left: 50px;
}

.addRemoveBtn{
    
    vertical-align: bottom;
}