.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 2em;
}

img {
  height: 70px;
  width: auto;
}

.image-header {
  text-align: center;
}

.total-cost-container {
  width: 100px;
  background-color: #d32f2f;
}
